{% extends 'base/control_panel/admin_base.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>Sponsoradministrasjon</h1>
        <hr>
    </section>

    <section class="content">
        <ul>
            {% for sponsor in sponsors %}
                <li>{{ sponsor.name }}
            {% endfor %}
        </ul>
    </section>
{% endblock %}
