{% extends 'base/control_panel/admin_base.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>Sponsoradministrasjon</h1>
        <hr>
    </section>

    <section class="content">
        {% for sponsor in sponsors %}
            <div class="row alternating-colors v-padded">
                <div class="col-xs-12 col-md-10">
                    <big>{{ sponsor.name }}</big>
                </div>
                <div class="col-xs-6 col-md-1">
                    <a class="btn btn-xs btn-flat btn-success" href="{{ path('cp_edit_sponsor', {sponsor: sponsor.id}) }}">
                        Endre info
                    </a>
                </div>
                <div class="col-xs-6 col-md-1">
                    {% include 'image/edit_image_button.html.twig' with { 'image': get_sponsor_image(sponsor.id) } %}
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
