<ul>
    <li><a href="{{ path('home') }}">Hjem</a></li>
    <li><a href="{{ path('sign_up') }}">Påmelding til kurs</a></li>
    <li><a href="{{ path('courses') }}">Kursinfo</a></li>
    <li><a href="https://kodeklubben.github.io">Oppgaver</a></li>
    <li><a href="{{ path('security_login_form') }}">Innlogging</a></li>
</ul>
