{% extends 'base/base.html.twig' %}

{% block body %}
    <h3 class="text-center">Ooops... Her har det oppstått en feil</h3>
    <p class="text-center"><b>Feilmeding:</b> {{ error }}</p>
{% endblock %}
