<footer class="main-footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <p>Følg oss på <a href="https://www.facebook.com/{{ get_club().getFacebook() }}" target="_blank">Facebook!</a></p>
            </div>
            <div class="col-md-4"><p>{{ get_club().getName() }} &copy;{{ "now"|date('Y') }}</p></div>
            <div class="col-md-4"><p>E-post: {{ get_club().getEmail() }}</p></div>
        </div>
    </div>
</footer>
