<footer class="main-footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <p>E-post: {{ get_club().getEmail() }}</p>
                <p>Følg oss på <a href="https://www.facebook.com/{{ get_club().getFacebook() }}" target="_blank">Facebook!</a></p>
            </div>
            <div class="col-md-4">
                <p>Opprette ny nettside for kodeklubben din? <br> Klikk <a href="{{ absolute_url(path('clubs'))|remove_subdomain }}">her!</a></p>
            </div>
            <div class="col-md-4"><p>Nettsiden er utviklet av <br> <a href="https://github.com/kristandre">Kristoffer R. Andresen</a></p></div>
        </div>
    </div>
</footer>
