<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
       {% include 'base/navigation_content.html.twig' %}
    </div><!-- /.container -->
</nav>

<div class="container">
    <div class="row">
        <div style="height:10px">
            <div id="google_translate_element" style="float:right; margin-top: -15px;"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'no', includedLanguages: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
