{% extends '@Admin/_base/admin_base.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>{{ course.name|length ? 'Endre ' ~ course.name : 'Ny kursserie'}}</h1>
        <hr>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary btn-sm-btn-flat onclick-disable" type="submit">Lagre</button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
