@import "variables";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../../node_modules/font-awesome/scss/font-awesome";
@import "bootswatch";
@import "box";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');

$background-control-panel: #ecf0f5;
$background-grey: #f6f6f6;

body {
  overflow-x: hidden;
  background-color: $background-grey;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.main-footer {
  margin-top: 30px;
  padding: 15px;
  border-top: 3px solid #2c3e50;
}

/*
 * LOGO
 */

.logo {
  $green: #71bb4f;
  $yellow: #eae813;
  $white: #f0f0f0;
  $hover: #e70400;
  font-size: 22px;
  font-weight: bold;
  font-family: monospace, Menlo, Monaco, Consolas, 'Courier New';
  color: $white;
  > span {
    > span:nth-child(1) {
      color: $green;
      &:hover {
        color: $hover;
      }
    }
    > span:nth-child(2) {
      color: $yellow;
      &:hover {
        color: $hover;
      }
    }
    > span:last-child {
      color: $green;
      &:hover {
        color: $hover;
      }
    }
  }
}
//LOGO END


/*
 * HOMEPAGE
 */

.top-header {
  h1 {
    font-size: 3rem;
  }
}

.header-img {
  width: 100%;
  max-height: 350px;
}

.row-home{
  margin-bottom:50px;
}

.well{
  background-color: rgba(44,62,80,0.1);
}

.messages {
  padding:5px;
  .message {
    //white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      cursor: pointer;
    }
  }
}

#timeTable{
  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

@media screen and(min-width: 992px){
  .divider-left {
    border-left: 2px solid #ddd;
  }
}
//HOMEPAGE END

/*
 * Course
 */

.course {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .description {
    max-height: 110px;
    overflow: hidden;
  }
  .img-container {
    min-height:150px;
    height: 150px;
    position: relative;
    img {
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}
.time-table-wrapper{
  margin-bottom:20px;
  max-height:250px;
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
}
.time-table{
  width:100%;
  th{
    text-align: center;
  }
  td, th{
    padding: 0 5px;
  }
}
//COURSE END

/*
 * Login
 */
.register-container{
  padding:10px;
}

/*
 * Sign Up
 */
.btn-sign-up{
  max-height:35px;
}

/*
 * Registration options
 */
.registration-options{
  margin-top:50px;
  a{
    &:hover, &:active, &:focus{
      text-decoration: none;
    }
  }
}
.registration-option{
    opacity:0.85;
  padding:10px;
  color:$brand-info;
  height:270px;
  button{
    margin-top:20px;
    border-radius:0;
  }
  &:hover{
    opacity:1;
  }
}

/*
 * Tables
 */
.user-table{
  min-width:1000px;
}

#user-search{
  width:250px;
  max-width:100%;
}
@media screen and (max-width: 400px){
  #user-search{
    width:175px;
  }
}

/*
 * UTILS
 */
.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.table-fixed{
  table-layout: fixed;
}
.text-bold{
  font-weight:bold;
}
.text-faded{
  opacity: 0.7;
}
.text-clickable{
  &:hover{
    cursor:pointer;
    text-decoration: underline;
  }
}
.loading-wheel{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.float-right{
  float:right;
}
.float-left{
  float:left;
}
.no-text-decoration{
  text-decoration: none !important;
}
.pull-down{
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
}
.flex-center{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.max-1200{
  max-width: 1200px;
}
//UTILS END

.email-list{
  white-space: nowrap;
  overflow: auto;
}

.clickable {
  cursor: pointer;
}

.sponsor {
  $imageRatio: 1.618;
  $imageWidth: 230px;
  $imageHeight: $imageWidth / $imageRatio;

  .img-container {
    width: $imageWidth;
    height: $imageHeight;

    img {
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
    }
  }
}

.alternating-colors:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

.v-padded {
  padding-top: 15px;
  padding-bottom: 15px;
}