{% if not children|length %}
    <p>Ingen barn</p>
{% else %}
    <table class="table table-striped table-fixed">
        <thead>
        <tr>
            <th>Fornavn</th>
            <th>Etternavn</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for child in children %}
            <tr>
                <td>{{ child.firstName }}</td>
                <td>{{ child.lastName }}</td>
                <td>
                    <form method="POST"
                          onsubmit="return confirm('Er du sikker på at du vil slette {{ child }}?')"
                          action="{{ path('child_delete', {'id': child.id}) }}">
                        <button type="submit"
                                class="btn btn-danger btn-xs btn-flat float-right onclick-disable">
                            Slett
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
