<footer class="main-footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <p>Følg oss på <a href="https://www.facebook.com/{{ get_content('facebook') }}" target="_blank">Facebook!</a></p>
            </div>
            <div class="col-md-4"><p>Kodeklubben {{ get_content('region') }} &copy;{{ "now"|date('Y') }}</p></div>
            <div class="col-md-4"><p>E-post: {{ get_content('email') }}</p></div>
        </div>
    </div>
</footer>