{% extends '@CodeClubAdmin/_base/admin_base.html.twig' %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Kontrollpanel</h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">

        </div><!-- /.row -->
    </section><!-- /.content -->
{% endblock %}