<div class="row hero-spacer top-header">
    <div class="col-md-8">
        <img class="img-rounded header-img" src="{{ asset('img/header.jpg') }}">
    </div>
    <!-- /.col-md-8 -->
    <div class="col-md-4">
        <h1>Kodeklubben {{ render(controller('AppBundle:StaticContent:getContent', {'idString': 'region'})) }}</h1>
        <p>{{ render(controller('AppBundle:StaticContent:getContent', {'idString': 'header'})) }}</p>
        <a class="btn btn-primary btn-lg" href="{{ path('sign_up') }}">Meld deg på!</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->