<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title box-title-lg">Meldinger</h3>
    </div>
    <div class="box-body">

        <div class="messages">

            {% if messages|length == 0 %}
                <p>Ingen meldinger</p>
            {% else %}
                {% for message in messages %}
                    <p>{{ message.timestamp|date('d.m.Y\\, \\k\\l H.i') }}:</p>
                    <p class="message">{{ message.message }}</p>
                    {{ loop.last ? '' : '<hr>' }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        $('.message').each(function () {
            var message = $(this);
            message.on("click", function () {
                message.css("white-space") == "nowrap" ? message.css("white-space", "normal") : message.css("white-space", "nowrap");
            })
        });
    });
</script>
