<div class="schedule-table">
    <h2 class="text-center">Kursoversikt</h2>
    <div class="table-responsive">

        <table class="table table-striped">
            <tr>
                <th>Dag</th>
                <th>Kurs</th>
                <th>Tid</th>
                <th>Sted</th>
            </tr>
            <tr>
                <td>Mandag</td>
                <td>Scratch</td>
                <td>18.15</td>
                <td>R10</td>
            </tr>
            <tr>
                <td>Mandag</td>
                <td>Python 1</td>
                <td>18.15</td>
                <td>R90</td>
            </tr>
            <tr>
                <td>Mandag</td>
                <td>Minecraft</td>
                <td>18.15</td>
                <td>R92</td>
            </tr>
            <tr>
                <td>Tirsdag</td>
                <td>Scratch</td>
                <td>18.15</td>
                <td>R90</td>
            </tr>
            <tr>
                <td>Tirsdag</td>
                <td>Python 1</td>
                <td>18.15</td>
                <td>R92</td>
            </tr>
            <tr>
                <td>Onsdag</td>
                <td>Scratch</td>
                <td>18.15</td>
                <td>R10</td>
            </tr>
            <tr>
                <td>Onsdag</td>
                <td>Python 1</td>
                <td>18.15</td>
                <td>R90</td>
            </tr>
            <tr>
                <td>Onsdag</td>
                <td>Java</td>
                <td>18.15</td>
                <td>R92</td>
            </tr>
            <tr>
                <td>Torsdag</td>
                <td>Python 2</td>
                <td>18.15</td>
                <td>R93</td>
            </tr>
        </table>
    </div>
</div>
