<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title box-title-lg">Sponsorer</h3>
    </div>
    <div class="box-body">
        {% if sponsors|length == 0 %}
            <p>Ingen sponsorer</p>
        {% else %}
            {% for sponsor in sponsors %}
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="box box-primary">
                        <div class="box-body sponsor">
                            <div class="img-container">
                                {% include 'image/editable_image_template.html.twig' with {'image': get_sponsor_image(sponsor.id)} %}
                            </div>
                            <div>
                                <a href='{{ sponsor.url | escape('html_attr') }}'>
                                    <h3>{{ sponsor.name }}</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
