{% extends '@ClubManager/base.html.twig' %}
{% block body %}
    <h4>
        <a href="{{ path('home_w_domain', {subdomain: club.subdomain}) }}">{{ club.name }}</a> ble opprettet.
    </h4>
    <h5>Brukernavn og passord til adminbruker blir sendt på epost til <span class="text-info">{{ club.email }}</span>.</h5>
{% endblock %}
