{% extends 'base/control_panel/admin_base.html.twig' %}

{% block body %}
    <header class="content-header">
        <a class="btn btn-default btn-sm float-right" href="{{ path('cp_course') }}"><i class="fa fa-reply"></i> Alle kurs</a>
        <h1>Kursveiledere {{ course.name }}</h1>
        <p>{{ course.description }}</p>

    </header>
    <section class="content">
        {% include 'course/tutor_table.html.twig' with {'tutors': course.tutors, 'showRemove': true} %}
    </section>
{% endblock %}

{% block javascripts %}

{% endblock %}

