{% extends 'base/control_panel/admin_base.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>Kurs {{ semester }}</h1>
        <hr>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="dropdown">
                    <button class="btn btn-primary btn-flat btn-sm dropdown-toggle" type="button"
                            data-toggle="dropdown">{{ semester }}
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        {% include 'semester/semester_dropdown.html.twig' with {'route': 'cp_course'} %}
                    </ul>
                    <a class="btn btn-success btn-sm btn-flat" href="{{ path('cp_create_course') }}">Nytt kurs <i
                                class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="max-1200">
                {% if not courses|length %}
                    <div class="text-center">
                        <h3>Det finnes ingen kurs dette semesteret</h3>
                        <a href="{{ path('cp_create_course') }}"><h4>Opprett nytt kurs</h4></a>
                    </div>
                {% endif %}
                {% for course in courses %}
                    {% include 'course/control_panel/course_box/course_box.html.twig' with {'course': course} %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
