{% extends 'base.html.twig' %}

{% block body %}
    <ul class="">
        {% for courseType in courseSeries %}
        <li><a href="#">{{ courseType.name }}</a></li>
            {% endfor %}
    </ul>
    <p>//TODO: Implement</p>
{% endblock %}